@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Upload demo</h1>
    <form asp-controller="home" asp-action="uploadfile" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



